<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Hello world</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid white;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: grey;
        }
        #bruger{
            color: blue;
        }
        img {
            border: 1px solid #ddd;
            border-radius: 4px;
             padding: 5px;
            width: 150px;
}
        .moneybobs{
            color: green
        }
        .klikker{
            background-color: red; 

        }


    </style>
</head>

<body>

    <img  src="https://media.licdn.com/dms/image/C4D0BAQE3e8kHI113pg/company-logo_200_200/0?e=2159024400&v=beta&t=_3GR03zZyxLcO-vSpp_h1cazV-Oz5wn6F6hlv1qogC8" style="width:50px;height:50px;">
    
    
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <table style="width:100%">
        <ul id="liste"></ul>
    </table>
    
    
    <table style="width:50%">
        <tr>
            <th>Brugertype</th>
            <th>Navn</th>
            <th>brugerID</th>
        </tr>
        <tr>
            <td id="idbrugertype">data her</td>
            <td id="idnavn">data her</td>
            <td id="idbrugerid" >data her</td>
        </tr>
    </table>


    <script>
       
        var uniktIDtilCookies = prompt("Skriv venligst et unikt ID");
        document.cookie = "uniktID="+uniktIDtilCookies+";";
        
        //increment ID
        var harduvaretherfor = confirm("har du besøgt denne side før? hvis ja klik confirm.");
        if (harduvaretherfor){
            var antalbesogt = findCookieBeskrivelse("antalbesog");
            console.log(antalbesogt)
            var antalbesogplus = (parseInt(antalbesogt)+1);
            document.cookie = "antalbesog="+antalbesogplus+";"
        }else{
            document.cookie = "antalbesog=1;"
        }

        //find cookie
        function findCookieBeskrivelse(name) {
        var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
        if (match) return match[2];
        }
        
        secookies();
        function secookies(){
            console.log(document.cookie)
        }


       var startappend = "<tr><th id='brugerid' >brugerID</th><th>kontonavn</th><th>kontonummer</th><th>indestaaende</th><th>rente</th></tr> "
       $('#liste').append($(startappend));

       
       //se bruger 
       function sebruger(her){
           console.log("det her"+her)
           var params = 'brugerID='+her+';';
           console.log(params)

        var xmlhttp = new XMLHttpRequest();

           xmlhttp.onreadystatechange = function(){
               console.log(this.readyState +"-"+ this.status)
            if (this.readyState == 4 && this.status == 200) {
                console.log("det her virker")
                console.log(this.response)
                var obj = JSON.parse(this.response)

                document.getElementById("idbrugertype").innerHTML = obj[0].brugertype;
                document.getElementById("idnavn").innerHTML =  obj[0].navn;
                document.getElementById("idbrugerid").innerHTML = obj[0].brugerID;

           }

           
                
       }
       xmlhttp.open("POST", "http://localhost:8080/hentdata", true);
                xmlhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                xmlhttp.send(params);
       
    }
       
       





       
       
       
      
       hentpare();

        function hentpare() {
            var xmlhttp = new XMLHttpRequest();
 
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    console.log("virket")
                    console.log("response" + this.response);
                    //laver det om til object
                    var obj = JSON.parse(this.response)
                    
                    
                    for (let index = 0; index < obj.length; index++) {
                        var start = '<tr>';

                        var brugerID = '<td class="klikker" id="'+obj[index].brugerID+'" onclick="sebruger(this.id)" >'+ obj[index].brugerID+' </td>'
                        var kontonavn = '<td>'+ obj[index].kontonavn +' </td>'
                        var kontonummer = '<td>'+ obj[index].kontonummer +' </td>'
                        var indestaaende = '<td class="moneybobs">'+ obj[index].indestaaende +' </td>'
                        var rente = '<td >'+ obj[index].rente +' </td>'
                        
                        var slut = '</tr>'

                        var finallinje = start+brugerID+kontonavn+kontonummer+indestaaende+rente+slut;
                        $('#liste').append($(finallinje));

                    }


                }
            }

            xmlhttp.open("GET", "http://localhost:8080/hent", true);
            xmlhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            xmlhttp.send();
        }
        
    </script>
</body>

</html>